@{
    ViewData["Title"] = "Movie List";
}
@model List<UserMovie>

    <table class="table table-bordered">
       @foreach (UserMovie m in Model)
       {
        <tr>
            <td>@m.Title</td>
            <td>@m.Watched</td>
            <td>@m.WatchLocation</td>
            <td>@m.UserRating</td>
            <td>@m.UserReview</td>
            <td><a href="../Home/UpdateMovie?id=@m.Id">Update Movie</a></td>
            <td class="btn-outline-danger"><a href="../Home/DeleteMovie?id=@m.Id">Delete Movie</a></td>
        </tr>
       }


    </table>