@{
    ViewData["Title"] = "Movie Selection";
}
@model PopcornMovie
    
        <p>@Model.Title</p>
        <br />
        <img src="@Model.Poster" width="500" height="600" />
        <br />
        <p>@Model.Plot</p>
        <br />
        <p>Metacritic rating: @Model.Metascore</p>
        <p>@Model.Actors</p>

        <a href="../Home/AddtoWatchedList?id=@Model.imdbID" class="btn btn-primary btn-sm btn btn-outline-success">Add To List</a>



