@{
    ViewData["Title"] = "Movie Selection";
}
@model PopcornMovie
<h4>@Model.Title</h4>
<p><b>Type (movie, series, etc):</b> @Model.Type</p>
<br />
<img src="@Model.Poster" width="200" height="300" />
<br />
<b>Plot:</b>
<p>@Model.Plot</p>
<b>Genre:</b>
<p>@Model.Genre</p>
<b>Runtime:</b>
<br />
<p>@Model.Runtime</p>
<b>Director(s):</b>
<p><a href="../Recommendation/GetMoviesByDirector?name=@Model.Director">@Model.Director</a></p>
<b>Actor(s):</b>
<p><a href="../Recommendation/GetMoviesByActor?name=@Model.Actors">@Model.Actors</a></p>
<b>Release Year:</b>
<p>@Model.Year</p>
@if (Model.DVD != null)
{
    <b>DVD Release Date:</b>
    <p>@Model.DVD</p>
}
<br />
<a href="../Home/AddtoWatchedList?id=@Model.imdbID" class="btn btn-primary btn-sm btn btn-outline-success">Add To List</a>
<br />
<br />
<a href="../Recommendation/GetMoviesOfDecade?year=@Model.Year&movieId=@Model.imdbID" class="btn btn-outline-info">Get other movies of this decade</a>
<br />
<br />
<a href="../Recommendation/GetOtherUsersWatchedMovie?movieId=@Model.imdbID" class="btn btn-outline-info">See what other users have to say</a>