@{
    ViewData["Title"] = "Movie Selection";
}
@model PopcornMovie

<p>@Model.Title</p>
<br />
<img src="@Model.Poster" width="500" height="600"/>
<br />
<p>@Model.Plot</p>
<br />
<p>Metacritic rating: @Model.Metascore</p>
<p>@Model.Actors</p>