@{
    ViewData["Title"] = "Movie Selection";
}
@model PopcornMovie
    
<p>@Model.Title</p>
<br />
<br />
<p>@Model.Plot</p>
<br />
<p>@Model.Genre</p>
<br />
<p>@Model.Director</p>
<br />
<p>@Model.Actors</p>

<a href="../Home/AddtoWatchedList?id=@Model.imdbID" class="btn btn-primary btn-sm btn btn-outline-success">Add To List</a>

<a href="../Recommendation/GetMoviesOfDecade?year=@Model.Year">Get other movies of this decade</a>



