@model List<DictionaryVM>


@if (Model.Count == 0)
{


}

@foreach (DictionaryVM vm in Model)
{
    <h4>@vm.Actor</h4>
    if (vm.MoviesWithScore.Count == 0)
    {
        <p>Looks like we don't have any movies with this actor in our database! </p>
    }
    foreach (UserMovie m in vm.MoviesWithScore.Keys)
    {

        <p>@m.Title</p>
        <p>Average User Score= @vm.MoviesWithScore[m]</p>
    }
}


@*@foreach (UserMovie m in Model.Keys)
    {

        <p>@m.Title</p>
        <p>Average User Score: @Model[m]</p>
    }*@

@*@foreach(string actor in Model.Keys)
    {
        <h4>@actor</h4>
        foreach(UserMovie m in Model[actor].Keys)
        {
        <p>@m.Title</p>
        <p>Average User Score: @Model[actor][m]</p>

        }
    }*@
